<div class="account-links">

  <a href="{{ path('fos_user_security_login') }}" id="customer_login_link">Se connecter</a>
  <br/>
  <a href="{{ path('fos_user_registration_register') }}" id="customer_register_link">S'inscrire</a>

</div>