<div class="search panelinputinner">
    <form action="{{ path('rechercheProduits') }}" method="POST">
        {{ form_widget(form.recherche) }}
        <button type="submit" class="coolbutton"><span class="icon-arrow3-right"></span></button>
    </form>
</div>