
    <div class="mainnav">

        <ul>
            <li class="first active">
                <div class="title">
                    <div>Boutique</div>
                </div>
                <ul class="tier1">

                    <li class="active expanded">
                        <a class="tier1title" href="index.html">Accueil</a>
                    </li>

                    <li class="">
                        <a class="tier1title" href="collections.html">Toute la Collection</a>
                    </li>
                    {% render(controller('EcommerceBundle:Categories:menu')) %}
                    <li class="">
                        <a class="tier1title" href="blogs/news.html">Blog</a>
                        <button class="coolbutton"><span class="icon-plus"></span></button>
                    </li>
                </ul>
            </li>

            <li >
                <div class="title">
                    Pr&eacute;sentation
                </div>



                <ul class="tier1">
                    <li class="">


                        <a class="tier1title" href="pages/about-us.html">About Us</a>

                    </li>
                    <li class="">


                        <a class="tier1title" href="blogs/news.html">Our Blog</a>

                    </li>
                    <li class="">


                        <a class="tier1title" href="pages/contact-us.html">Contact Us</a>

                    </li>
                    <li class="">


                        <a class="tier1title" href="search.html">Site Search</a>

                    </li>

                </ul>

            </li>

        </ul>
    </div>
